body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: rgb(83, 83, 83);
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("web02.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("web01.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("web03.jpg");
    min-height: 400px;
  }

  .bgimg-4 {
    background-image: url("Web-Development.gif");
    min-height: 100%;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption-footer {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .border {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 8px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  .heading-html {
      font-size: 27px;
      color: rgb(255, 123, 0);
      font-weight: bold;
  }

  .heading-css {
      font-size: 27px;
      color: rgb(45, 45, 255);
      font-weight: bold;
  }

  .heading-JS {
      font-size: 27px;
      color: red;
      font-weight: bold;
  }

  .card {
    margin: 10px 0;
  }

  .footer {
    text-align: center;
  }

  /* scroll arrow */
  .container-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    -webkit-animation: move-chevron 3s ease-out infinite;
            animation: move-chevron 3s ease-out infinite;
  }
  
  .chevron:first-child {
    -webkit-animation: move-chevron 3s ease-out 1s infinite;
            animation: move-chevron 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    -webkit-animation: move-chevron 3s ease-out 2s infinite;
            animation: move-chevron 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgb(0, 0, 0);
  }
  
  .chevron:before {
    left: 0;
    -webkit-transform: skewY(30deg);
            transform: skewY(30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    -webkit-transform: skewY(-30deg);
            transform: skewY(-30deg);
  }
  
  @-webkit-keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      -webkit-transform: translateY(2.28rem);
              transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(3.12rem);
              transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(4.8rem) scale(0.5);
              transform: translateY(4.8rem) scale(0.5);
    }
  }
  
  @keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      -webkit-transform: translateY(2.28rem);
              transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(3.12rem);
              transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(4.8rem) scale(0.5);
              transform: translateY(4.8rem) scale(0.5);
    }
  }

  /* scroll arrow end */
  
  /* Iskljuci parallax za tablete i telefone */
  @media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }