body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: rgb(83, 83, 83);
    scroll-behavior: smooth;
  }
  .navbar {
    height:50px;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("web02.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("web01.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("web03.jpg");
    min-height: 400px;
  }

  .bgimg-4 {
    background-image: url("Web-Development.gif");
    min-height: 100%;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .divContainer {
    padding: 50px 80px;
  }

  .caption-footer {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .border {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 8px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  .heading-html {
      font-size: 27px;
      color: rgb(255, 123, 0);
      font-weight: bold;
  }

  .heading-css {
      font-size: 27px;
      color: rgb(45, 45, 255);
      font-weight: bold;
  }

  .heading-JS {
      font-size: 27px;
      color: red;
      font-weight: bold;
  }

  .card {
    margin: 10px 0;
  }

  .footer {
    text-align: center;
    font-size: 0.9em;
  }

  .footer p {
    margin-bottom: 0;
  }

  

  .warning {
    color:red;
  }

  /* down arrow */

  .arrow-container {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  .arrow-container:hover {
    cursor: pointer;
  }
  .arrow-container:hover .arrow {
    top: 50%;
  }
  .arrow-container:hover .arrow:before {
    transform: translate(-50%, -50%) rotateZ(-30deg);
  }
  .arrow-container:hover .arrow:after {
    transform: translate(-50%, -50%) rotateZ(30deg);
  }
  
  .arrow {
    position: absolute;
    left: 50%;
    transition: all .4s ease;
  }
  .arrow:before, .arrow:after {
    transition: all .4s ease;
    content: '';
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: #000;
    width: 4px;
    height: 50px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  .arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .arrow:nth-child(1) {
    opacity: 0.8;
    top: 35%;
  }
  .arrow:nth-child(2) {
    opacity: 0.9;
    top: 55%;
  }
  .arrow:nth-child(3) {
    opacity: 1;
    top: 75%;
  }

  /* down arrow end */


    
  /* Iskljuci parallax za tablete i telefone */
  @media only screen and (max-width: 600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }

    .divContainer {
      padding: 50px 10px;
    }

    .arrow-container {
      display: none;
    }

    .border {
      font-size: 20px;
      letter-spacing: 6px;
    }

    .footer p {
      margin-bottom: 0;
    }
  }